<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SYNTAX to print variable :: here variable is title -->
    <!-- value of variable title is coming from js -->
    <title> Form </title>

    <script src="https://kit.fontawesome.com/3a58c2c523.js" crossorigin="anonymous"></script>

    <!-- our script needs to be at the end of all -->
    <!-- here the path is relative to "assets" Why it is so?? bcz we have already mentioned it inside middleware (static) -->
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>

<body>
    <div id="link">
        <a href="/">Home</a>
    </div>

    <h1 id="page-heading">
        Fill the Form
    </h1>

    <% var act = action_name %>
    <div id="form">
        <form action="<%= act %>" method="get">
            <input type="text" name="name" placeholder="College Name" required>    
            <button type="submit"> <%= act %> <% action_name %> </button>
        </form>
    </div>
</body>

</html>