<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SYNTAX to print variable :: here variable is title -->
    <!-- value of variable title is coming from js -->
    <title> Home </title>

    <script src="https://kit.fontawesome.com/3a58c2c523.js" crossorigin="anonymous"></script>

    <!-- our script needs to be at the end of all -->
    <!-- here the path is relative to "assets" Why it is so?? bcz we have already mentioned it inside middleware (static) -->
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>

<body>
    <h1 id="page-heading">
        Welcome to College!
    </h1>

    <div id="link">
        <a href="/form?act=details">Get details of any college</a>
        <br>
        <a href="/form?act=similar-colleges">Get all similar colleges</a>
    </div>
</body>

</html>